@import './../../theme/sass/conf/conf';
:host /deep/ .widgets {
    .data-table-container {
        width: 100%;
        .panel-heading {
            margin-top: 25px;
        }
    }
}
.top-buffer { margin-top:20px; }
.cardView {
    background-color: #5b96ce;
    box-shadow: 10px 10px 5px #4180c1;
    border-radius: 11px;

}
.cardViewDiv {
    text-align: center;
    padding: 12%;
    font-size: 20px;
}
